:root {
  --color-dark-tangerine: #fda214;
  --color-light-tangerine: #ffb84a;
  --color-spindle: #bcced9;
  --color-arapawa: #304859;
  --color-tangaroa: #152938;
  --color-white-smoke: #f2f2f2;
  --color-bermuda-grey: #7191a5;
  --color-shakespeare: #6395b8;
  --color-pattens-blue: #dfe7ec;
  --color-snow: #fcfcfc;
  --font-size-dsk-h1: 4.8rem;
  --font-size-dsk-h2: 3.2rem;
  --font-size-dsk-h3: 2rem;
  --font-size-dsk-number-4x4: 4.4rem;
  --font-size-dsk-number-6x6: 3.2rem;
  --font-size-dsk-button: 2rem;
  --font-size-dsk-button-big: 3rem;
  --font-size-dsk-button-menu: 2.4rem;
  --font-size-dsk-p: 1.8rem;

  /* Mobile */
  --font-size-mob-h1: 3.6rem;
  --font-size-mob-h2: 2.4rem;
  --font-size-mob-h3: 1.8rem;
  --font-size-mob-number-4x4: 3.4rem;
  --font-size-mob-number-6x6: 2.4rem;
  --font-size-mob-button: 1.8rem;
  --font-size-mob-button-big: 2.4rem;
  --font-size-mob-button-menu: 1.8rem;
  --font-size-mob-p: 1.6rem;

  /* Tablet */
  --font-size-tab-h1: 4.4rem;
  --font-size-tab-h2: 3rem;
  --font-size-tab-h3: 1.8rem;
  --font-size-tab-number-4x4: 4.2rem;
  --font-size-tab-number-6x6: 3rem;
  --font-size-tab-button: 1.8rem;
  --font-size-tab-button-big: 2.8rem;
  --font-size-tab-button-menu: 2.2re-m;
  --font-size-tab-p: 1.6rem;
}
h1 {
  font-size: var(--font-size-mob-h1);
}

h2 {
  font-size: var(--font-size-mob-h2);
}

h3 {
  font-size: var(--font-size-mob-h3);
}
button{
  margin: 0;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: .3s;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 body{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-snow);
  background-color: red;
  font-family: sans-serif;
}
.menu{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #152938;
  margin: 0;
  padding: 20px;
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu h2{
  color: var(--color-snow);
}
.menu .cont{
  position: relative;
  width: 100%;
  /* height: 500px; */
  background-color: var(--color-snow);
  border-radius: 14px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.menu .cont button{
  padding: 12px;
  color: var(--color-snow);
  font-size: var(--font-size-mob-button);
  background-color: var(--color-spindle);
  border-radius: 36px;
  width: 100%;
}
.cont .box{
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.cont .box p{
  font-size: var(--font-size-mob-p);
}
.box .butn{
  position: relative;
  width: 100%;
  display: flex;
  gap: 17px;
  justify-content: space-between;
}
.menu .cont .start{
  background-color: var(--color-dark-tangerine);
}